@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

:root {
    --font-color-black : #313131;
    --font-color-lignt-black : #555E5E;
    --silver-color : #E0E3E3;
    --win-color : #A3CFEC;
    --win-color-dark : #1A78AE;
    --lose-color-dark : #C6443E;
    --lose-color : #E2B6B3;
    --main-button-color : #4285F4;
    --main-subtitle-color : #0e67c1;
}

@keyframes spinCircle {
    from {
        transform:rotate(0);
    }
    to {
        transform:rotate(360deg);
    }
}

body {
    text-align: center;
    background-color: rgb(250,250,250);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color : var(--font-color-black);
}

.App {
    display: flex;
    justify-content: center;
}

button.search {
    width: 80px;
    height: 40px;
    border-style: none;
    border-radius: 8px;
    margin: 10px;
    background-color: var(--main-button-color);
    color: white;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

input.nickname {
    width: 400px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 10px;
    padding-inline-start: 20px;
    outline-style: none;
}

.loadingBox {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.loadingBox .circle {
    width:50px;
    height:50px;
    border:5px solid rgba(255, 255, 255, 0.3);
    border-top:5px solid var(--win-color);
    border-radius:50em;
    animation-name:spinCircle;
    animation-duration:.8s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chartbox {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #0e67c1;
}

